# That's Amore Landing Page
thatsamore.nz {
    root * /srv
    file_server
    encode gzip

    header {
        Strict-Transport-Security "max-age=31536000;"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}

:80 {
    root * /srv
    file_server
}
